.water-pool-wrapper {
    display: flex;
    min-height: 500px;
}

.water-pool-wrapper .water-pool-item  {
    flex: 1;
}
.water-pool-wrapper .water-pool-empty {
    background-color: transparent;
}

.water-pool-wrapper .water-pool-fill {
    background-color: rgb(77, 171, 253)
}

.water-pool-wrapper .water-pool-elevation {
    background-color: black;
}